* {
  padding: 0;
  margin: 0;

  ul {
    list-style: none;
  }
}

.calculator {
  border: 1px solid black;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 30%;
}


.buttons {
  //TODO: import btns from btns in .js, DRY & SSOT
  $btns: zero, one, two, three, four, five, six, seven, eight, nine, add, subtract, multiply, divide, equals, clear, decimal;

  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(5, 50px);
  grid-template-areas: 
    'add subtract multiply divide'
    'seven eight nine clear'
    'four five six equals'
    'one two three equals'
    'zero zero decimal equals'
    ;

  button {
    height: 100%;
    width: 100%;
    font-size: 20px;
  }

  @each $btn in $btns {
    .btn-#{$btn} {
      grid-area: $btn;
    }
  }
}


.screen {
  position: relative;
  height: 70px;
  font-size: 30px;

  .output {
    position: absolute;
    right: 5px;
    bottom: 10px;
  }
}